!!!
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Iowa City Apartment Finder!
    #main
    - if @current_user == nil
      = button_to "SignUp/Login", login_path, method: :get, :id =>"login"
    - else
      - flash[:notice] = "You are currently logged in"
      = button_to "Logout", logout_path, method: :delete, :id => "logout"
    
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    %br
    = yield
