- if @current_user == nil
  = button_to "SignUp/Login", login_path, method: :get, :id =>"login", :class => 'buttonblue'


%br
%h2 Welcome To The Apartment Finder!
%br
%br
%h2 Search for an apartment by the following criteria:
= form_tag buildings_path, method: :get, id: "search-form" do
  
  = text_field_tag :searchaddress, params[:searchaddress], placeholder: "Address"
  
  = select :searchcompany, :management, @buildings.pluck(:management).uniq, :prompt => "Select a company"
  
  Off street parking available?
  = check_box_tag :searchparking, params[:searchparking]
  
  Pets allowed?
  = check_box_tag :searchpets, params[:searchpets]
  

  = submit_tag 'Search'


%br
%h2 Or View All Buildings:
= button_to "View All Buildings", buildings_path, method: :get, :class => 'buttonblue'