- if @current_user == nil
  = button_to "SignUp/Login", login_path, method: :get, :id =>"login", :class => 'buttonblue'


%br
%h2 Welcome To The Apartment Finder!
%br
%br
%h2 Search for an apartment by the following criteria:
= form_tag buildings_path do
  
  Management Company  
  
  Pets allowed   
  
  Type of Parking available  
  
  = label :building, :address, 'Address'
  = text_field :building, 'address', :class => 'input'
  %br

  = submit_tag 'Search'


%br
%h2 Or View All Buildings:
= button_to "View All Buildings", buildings_path, method: :get, :class => 'buttonblue'