

%h1 Edit Existing Apartment

= form_tag building_apartment_path(building_id:params[:building_id], id:params[:id]), :method => :put do

  = label :apartment, :apartment_number, 'Apartment Number'
  = text_field :apartment, 'apartment_number'
  %br
  %br
  = label :apartment, :bedrooms, 'Bedrooms'
  = text_field :apartment, 'bedrooms'
  %br
  %br
    = label :apartment, :bathrooms, 'Bathrooms'
  = text_field :apartment, 'bathrooms'
  %br
  %br
    = label :apartment, :rent, 'Rent'
  = text_field :apartment, 'rent'
  %br
  %br
  =label :apartment, :monthly_util, 'Average Monthly Utilities'
  =text_field :apartment, 'monthly_util'
  %br
  %br
  =label :apartment, :balcony, 'Balcony'
  =check_box :apartment, 'balcony'
  %br
  %br
  =label :apartment, :central_air, 'Central Air'
  =check_box :apartment, 'central_air'
  %br
  %br

  = submit_tag 'Update Apartment Info'