%h1 All Apartments

%table#apartments
  %thead
    %tr
      %th Apartment Number
      %th Bedrooms
      %th Bathrooms
      %th Rent
      %th More Info
  %tbody
    - @apartments.each do |apartment|
      %tr
        %td= apartment.apartment_number
        %td= apartment.bedrooms
        %td= apartment.bathrooms
        %td= apartment.rent
        %td= link_to "More about apartment number #{apartment.apartment_number}",  building_apartment_path(1,apartment.apartment_number)
       

%br
= link_to 'Add new Apartment', new_building_apartment_path

