%h2 Details about Apartment Number #{@apartment.apartment_number}


%ul#details
  %li
    Management Company: #{@building.management}
  %li
    Address: #{@building.address}
  %li
    Number of Bedrooms: #{@apartment.bedrooms}
  %li
    Number of Bathrooms: #{@apartment.bathrooms}
  %li
    Rent Cost: #{@apartment.rent}
  %li
    Average Monthly Utilities: #{@apartment.monthly_util}
  %li 
    Balcony: 
    -if (@apartment.balcony) then @result="yes" else @result="no" end
    #{@result}
  %li
    Central Air:
    -if (@apartment.central_air) then @result="yes" else @result="no" end
    #{@result}
  %li
    Laundry in Unit?
    -if (@apartment.laundry_in_unit) then @result="yes" else @result="no" end
    #{@result}
   


%h3 Pictures:


%h3 Reviews:


%table#reviews
  %thead
    %tr 
      %th Name
      %th Comments
      %th Rating (1-10)
  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.user_name
        %td= review.comments
        %td= review.rating.to_s
%br

%br
= link_to 'Add review for this apartment', new_building_apartment_review_path(building_id:@building_id, apartment_id:@apartment.id)

%br
%br
= link_to 'Edit This Apartment', edit_building_apartment_path(building_id:@building_id, id:@apartment.id)
%br
= button_to 'Delete', building_apartment_path(building_id:@building_id, id:@apartment.id) , :class => "buttonred", :method => :delete, :confirm => 'Are you sure?'
%br


