%h1 Sign Up

= form_tag users_path do

  = label :user, :user_id, 'Name'
  = text_field :user, 'name'

  = label :user, :email, 'Email'
  = text_field :user, 'email'
  
  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = submit_tag 'Create User'





