
%h1 Sign Up

-unless @user ==nil
  -if @user.errors.any?
    %ul
    -@user.errors.full_messages.each do |msg|
      %li #{msg}
      
= form_tag users_path, :id=>'signup_form', :method=> 'post' do

  = label :user, :name, 'Name'
  = text_field :user, 'name', :class => 'input'

  = label :user, :email, 'Email'
  = text_field :user, 'email', :class => 'input'
  
  = label :user, :password, 'Password'
  = password_field :user, 'password', :class => 'input'
  
  = label :user, :password_confirmation, 'Confirm Password'
  = password_field :user, 'password_confirmation', :class => 'input'
  %br
  %br
  = submit_tag 'Create User', :class => 'buttongreen'

%p.login= link_to 'Log-in', login_path



