

%h1 Edit Existing Building

= form_tag building_path(@building), :method => :put, :multipart=> :true do

  = label :building, :address, 'Address'
  = text_field :building, 'address'
  %br
  %br
  = label :building, :city, 'City'
  = text_field :building, 'city', :class => 'input'
  %br
  %br
  State: Iowa
  %br
  %br
  = label :building, :management, 'Management Company'
  = text_field :building, 'management'
  %br
  %br
  = label :building, :laundry, 'Number of washing/dryer machines' 
  = text_field :building, 'laundry'
  %br
  %br
  = label :building, :number_apartments, 'Number of apartments in building'
  = text_field :building, 'number_apartments'
  %br
  %br
  = label :building, :parking, 'Parking Available?'
  = check_box :building, 'parking'
  %br
  %br
  %br
  = label :building, :pets, 'Pets allowed?'
  = check_box :building, 'pets'
  %br
  %br
    = label :building, :picture 
    = file_field :building, :picture
  %br
  %br
  
  = submit_tag 'Update Building Info', :class => 'buttongreen'

