

%h1 Edit Existing Building

= form_tag building_path(@building), :method => :put do

  = label :building, :address, 'Address'
  = text_field :building, 'address'
  %br
  %br
  = label :building, :management, 'Management Company'
  = text_field :building, 'management'
  %br
  %br
  = label :building, :laundry, 'Number of washing/dryer machines' 
  = text_field :building, 'laundry'
  %br
  %br
  = label :building, :number_apartments, 'Number of apartments in building'
  = text_field :building, 'number_apartments'
  %br
  %br
  = label :building, :parking, 'Type of parking available (On-street, garage, stall)'
  = text_field :building, 'parking'
  %br
  %br
  = label :building, :pets, 'Pets allowed (cat, dog, none, all, etc.)'
  = text_field :building, 'pets'
  %br
  %br

  = submit_tag 'Update Building Info'