%h1 Add a New Building

= form_tag buildings_path do

  = label :building, :address, 'Address:'
  = text_field :building, 'address'
  %br
  %br
  = label :building, :management, 'Management Company:'
  = text_field :building, 'management'
  %br
  %br
  = submit_tag 'Add Building'
  
%br
= link_to 'Nevermind, go back to buildings list', buildings_path
