%h1 Add a New Building

= form_tag buildings_path do

  = label :building, :address, 'Address:'
  = text_field :building, 'address', :class => 'input'
  %br
  %br
  = label :building, :management, 'Management Company:'
  = text_field :building, 'management', :class => 'input'
  %br
  %br
  = submit_tag 'Add Building', :class => 'buttongreen'
