-# in app/views/movies/show.html.haml

%h2 Details about #{@building.address}


%ul#details
  %li
    Managment Company:
    = @building.management


%h3 Pictures:
%br

%h3 Apartments in this building:

%table#apartments
  %thead
    %tr
      %th Apartment Number
      %th Bedrooms
      %th Bathrooms
      %th Rent
      %th More Info
  %tbody
    - @apartments.each do |apartment|
      %tr
        %td= apartment.apartment_number
        %td= apartment.bedrooms
        %td= apartment.bathrooms
        %td= apartment.rent
        %td= link_to "More about apartment number #{apartment.apartment_number}",  building_apartment_path(@building.id)

%br
%br
%br
= link_to 'Edit This Building', edit_building_path(@building)
%br%br
= link_to 'Add Apartment for Building', new_building_apartment_path(@building.id)
%br
= button_to 'Delete', building_path(@building), :method => :delete, :confirm => 'Are you sure?'
%br

