-# in app/views/movies/show.html.haml

%h2 Details about #{@building.address}, #{@building.city} 


%ul#details
  
  Managment Company:
  = @building.management
  %br
  Number of Apartments:
  = @building.number_apartments
  %br
  Number of building washer/dryer machines:
  = @building.laundry
  %br
  Parking available:
  -if (@building.parking) then @result="yes" else @result="no" end
  #{@result}
  %br
  Pets allowed:
  -if (@building.pets) then @result="yes" else @result="no" end
  #{@result}
%br

%h3 Picture:

%ul
  = image_tag @building.picture.url(:square)
%br

%h3 Apartments in this building:


= form_tag building_path, :method => :get do
  Balcony:
  = check_box_tag :filterbalcony, params[:filterbalcony], if params[:filterbalcony]; params[:filterbalcony].include?(params[:filterbalcony]) end

  
  Central Air?
  = check_box_tag :filterair, params[:filterair], if params[:filterair]; params[:filterair].include?(params[:filterair]) end
  
  Laundry in Unit?
  = check_box_tag :filterlaundry, params[:filterlaundry], if params[:filterlaundry]; params[:filterlaundry].include?(params[:filterlaundry]) end
  
  Bedrooms:
  = select :filterbedrooms, :bedrooms, @apartments.pluck(:bedrooms).uniq, :selected => params[:filterbedrooms], :prompt => "Bedrooms"
  
  Bathrooms:
  = select :filterbathrooms, :bathrooms, @apartments.pluck(:bathrooms).uniq, :selected => params[:filterbedrooms], :prompt => "Bathrooms"
  
  
  
  %br
  = submit_tag 'Apply Filters', :class => 'buttonorange'

%br
%h2*Sorted by rent: Lowest to Highest*

%table#apartments
  %thead
    %tr
      %th Apartment Number
      %th Bedrooms
      %th Bathrooms
      %th Rent
      %th More Info
  %tbody
    - @apartments.each do |apartment|
      %tr
        %td= apartment.apartment_number
        %td= apartment.bedrooms
        %td= apartment.bathrooms
        %td= "$"+ apartment.rent.to_s
        %td= link_to "More about apartment number #{apartment.apartment_number}",  building_apartment_path(building_id:@building.id,id:apartment.id)


%br
%br
%br
= link_to 'Edit This Building', edit_building_path(@building)
%br
= link_to 'Add Apartment for Building', new_building_apartment_path(@building.id)
%br
= button_to 'Delete', building_path(@building), :class => "buttonred", :method => :delete, :confirm => 'Are you sure?'
%br

